*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #171717;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;

}
.wrapper {
    display: flex;
    align-items: flex-star;
    justify-content: space-between;
    margin: 46px 30px 0;
}
.call {
    padding: 10px 25px 10px 26px;
}
.link {
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #E4B564;
}
.image-call {
    padding-right: 10px;
}
.first-section .second-section . third-section {
    width: 1460px;
    margin: 0auto;
    font-family: 'Gilam';
    font-style: normal;
    color: #ffffff;
}
.first-section {
    margin-top: 128px;
}
.first-text, .second-text, .third-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    font-family: Gilam;
}
.paragraph {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
}
.container-flex {
    display: grid;
    margin-top: 21px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 963px;
    row-gap: 34px;
    column-gap: 27px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.network-1 {
    grid-column: 1/3;
    background: #634F2C;;
}
.network-2 {
    grid-column: 3/5;
    background: #B4A385;
}
.network-3 {
    grid-column: 5/7;
    background: #E4B564;
}
.network-4 {
    grid-column: 1/4;
    background: #635A4A;
}
.network-5 {
    grid-column: 4/7;
    background: #B08C4D;
}
.second-text {
    margin-top: 161px;
}
.park-conteiner {
    display: grid;
    margin-top: 94px;
    margin-bottom: 191px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "technology-1 technology-2 technology-3"
    "technology-1 technology-2 technology-3"
    "technology-4 technology-2 technology-6"
    "technology-4 technology-5 technology-6"
    "technology-4 technology-5 technology-7"
    "technology-4 technology-5 technology-7";
    height: 897px;
    row-gap: 30px;
    column-gap: 27px;
}
.park {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    padding-top: 44px;
    padding-left: 52px;
}
.technology-1 {
    grid-area: technology-1;
    background: #0E0E0E;
}
.technology-2{
    grid-area: technology-2;
    background: #242424;
}
.technology-3 {
    grid-area: technology-3;
    background: #1F1F1F;
}
.technology-4 {
    grid-area: technology-4;
    background: #1F1F1F;
}
.technology-5 {
    grid-area: technology-5;
    background: #E4B564;
}
.technology-6 {
    grid-area: technology-6;
    background: #0A0909;
}
.technology-7 {
    grid-area: technology-7;
    background: #0A0909;
}
footer {
    background: #0E0E0E;
}
.third-section {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.third-text {
    margin-top: 191px;
    padding: 20px 25px;
    color: white;
}
.all projects {
    margin-top: 191px;
    border: 1px solid #E4B564;
    padding: 10px 40px;
}
.link {
    height: 50px;
    width: 180px;
    background-color: transparent;
    border: 1px solid #E4B564;
    color:#E4B564;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

}
.conteiner-project {
    display: grid;
    padding-inline: 30px;
    margin-top: 72px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.about {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

}
.progect-1 {
    background: #634F2C;
    grid-column: 1;
    padding-top: 171px;

}
.progect-2 {
    background: rgba(232, 210, 171, 0.76);
    padding-top: 61px;
    grid-column: 2;
}
.progect-3 {
    background: #E4B564;
    padding-top: 170px;
    grid-column: 3;
}
.progect-4 {
    background: #635A4A;
    padding-top: 171px;
    grid-column: 1;
}
.progect-5 {
    background: #B08C4D;
    padding-top: 169px;
    grid-column: 1;
}
.progect-5{
    background: #B08C4D;
    padding-top: 171px;
    grid-column: 2;
}
.progect-6 {
    background: #634F2C;
    padding-top: 171px;
    grid-column: 3;
}